.ptCont.pdstock
	span #{showThdStock}

if needT <= 0
	-needT = 0;
span.ptCont.pdorder(style="display:none") #{quotOthd-shipOthd}

span.ptCont.pdneedT(style="display:none") #{needT}

span.ptCont.pdtint(style="display:none") #{quotTthd-shipTthd}