extends ../aalayout/layout

block content
	input#order(type="hidden", value=order)
	input#sizes(type="hidden", value=Conf.sizes)
	.m-5
		include ./list/list10
	div(style="height: 80px")
	.text-center.pt-2#bsOrds(style="position: fixed;bottom: 0px;right: 0px;width:100%; height:50px; background: #C0C0C0") <span class="oi oi-chevron-bottom"></span>

	script(src="/const/const.js")
	script(src="/js/bser/pagejump.js")
	script(src="/js/bser/order/send.js")
