each order in orders
	-let txtSatus="";
	if order.status == 5
		- txtSatus = "text-info";
	else if order.status == 10
		- txtSatus = "text-secondary";
	- let textTime="";
	if Date.now() - order.ctAt > 3*24*60*60*1000
		-textTime="text-danger";

	each ordfir in order.ordfirs
		-a;
		.row.mt-4
			.col-md-5
				include ./lt5quot
			.col-md-7
				include ./lt5ship
